﻿@using Discussion.ViewModels
@model DiscussCreateViewModel
@{
    ViewData["Title"] = "Новое обсуждение";
}

<div class="container-fluid disc">
    <a class="btn btn-outline-dark mt-5" asp-controller="Home" asp-action="Index"> Назад</a>

    <div class="card mt-3">
       <div class="card-header">
         <h5>Новое обсуждение</h5>
       </div>
      
       <div>
         <form asp-controller="Discuss" asp-action="Create" method="post">
           <div class="card-body">
             <div class="form-group">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
             </div>
             <div class="form-group mt-3">
                    <label class="form-label" asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
             </div>
           </div>
           
           <div class="card-footer">
                <div class="text-danger" asp-validation-summary="All"></div>
                <button type="submit" class="btn btn-primary">Создать</button>
           </div>
         </form>
       </div>
    </div>
</div>
