﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Discussion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Discussion.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid" style="margin-left: 1em">
                <span class="navbar-brand mb-0 h1">Discussion</span>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Обсуждения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="navbar-nav flex-grow-1 justify-content-end" style="margin-right: 2em">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Account" asp-action="SignUp">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Account" asp-action="SignIn">Вход</a>
                    </li>
                } else {
                     <li class="nav-item d-flex me-3">
                        <span class="align-self-center text-light"> @User.Identity.Name</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Выйти</a>
                    </li>
                }
            </ul>
        </nav>
    </header>

    @RenderBody()


    <footer class="footer mt-3"> HITs Discussion 2022 </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
