﻿@using Discussion.ViewModels
@model SignInViewModel
@{
    ViewData["Title"] = "Авторизация";
}

 <div class="container-fluid sign">
   
    <div class="card mt-5">
       <div class="card-header">
         <h4>Авторизация</h4>
       </div>
      
       <div>
         <form asp-controller="Account" asp-action="SignIn" method="post">
           <div class="card-body">
                <div class="form-row">
                    <div class="form-group mb-2">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
           </div>
           
           <div class="card-footer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-dark">Войти</button>
           </div>
         </form>
       </div>
    </div>
    

 </div>




