﻿@using Discussion.ViewModels
@model SignUpViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container-fluid sign">
   
    <div class="card mt-5">
       <div class="card-header">
         <h4>Регистрация</h4>
       </div>
      
       <div>
         <form asp-controller="Account" asp-action="SignUp" method="post">
           <div class="card-body">
                <div class="form-row">
                    <div class="form-group mb-2">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2">
                        <label asp-for="Group"></label>
                        <input asp-for="Group" class="form-control">
                        <span asp-validation-for="Group" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2">
                        <label asp-for="PasswordConfirm"></label>
                        <input asp-for="PasswordConfirm" class="form-control">
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="form-label" for="file">Аватар</label>
                    <input asp-for="File" type="file" id="file" class="form-control">
                    </div>
                </div>
           </div>     
           <div class="card-footer">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
           </div>
         </form>
       </div>
    </div>


    </div>

