html {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-fluid {
    flex: 1 0 auto;
    max-width: 1140px;
}

.footer {
    flex-shrink: 0;
    background-color: #f5f5f5;
    text-align: center;
    color: #899094;
    padding: 17px;
}

.sign {
    max-width: 700px;
}

.disc {
    max-width: 800px;
}
