﻿@using Discussion.ViewModels
@model IndexViewModel
@addTagHelper *, Discussion

@{
    ViewData["Title"] = "Discussion";
}

<div class="container-fluid">
    <img src="files/hitsdisc.png" class="d-block w-100 mt-4"/>
    <h1 class="text-center mt-3 mb-4"> Обсуждения </h1>

    <div class="row mb-2">
    <div class="col">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-dark"  asp-controller="Discuss" asp-action="Create">Создать</a>
        }
    </div>
    <div class="col">
        <page-link page-model="Model.PageViewModel" page-action="Index" ></page-link>
    </div>
</div>

 @if (Model.Discussions.Any())
        {

                @foreach (var discuss in Model.Discussions)
                {
                <div class="card mt-3">
                 <div class="card-header">
                   <div class="row no-gutters">
                    <h5 class="col">
                      @discuss.Name
                    </h5>
                    <div class="col col-md-auto">
                     Иван Иванов
                    </div>
                   </div>
                  </div>
  
                 <div>
                   <div class="card-body">
                    @discuss.Description
                   </div>
                   <div class="card-footer">
                     <div class="row no-gutters">
                       <div class="col">  12.06.2022 </div>
                       <a class="col col-md-auto text-right" href="/details.html" style="color: #343a40;"> <em> 5 комментариев</em> </a>
                     </div>
                   </div>
                 </div>
                </div>
                }

        }
        else
        {
            <div class="alert alert-info">
                Обсуждений ещё нет
            </div>
        }


</div>
